.App {
  text-align: center;
}

/* h1{
  font-size: large;
} */

.video-player-container {
  /* margin-bottom: 90px; */
}

.video-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.add-video{
  margin:5%;


}